<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 必须，允许应用检测网络状态，SDK 会根据网络状态选择是否发送数据 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Q以下必须，Q及以上可选，允许应用获取设备 IMEI(ClientId SDK) 和采集 $carrier 属性时会用到此权限， -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 可选，ClientId SDK 相关 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 必须，允许应用检测网络状态，SDK 会根据网络状态选择是否发送数据 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Q以下必须，Q及以上可选，允许应用获取设备 IMEI(ClientId SDK) 和采集 $carrier 属性时会用到此权限， -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 可选，ClientId SDK 相关 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
